#product-hot-top{
    background-color: #ccc;
    margin: 1rem 0;
}
#product-hot-top-left{
    background-color: green;
    color: #fff;
    align-items: center;
    /* padding: 0 0.5rem ; */
    padding: 0.5rem ;
    position: relative;
}
#product-hot-top-right{
    display: flex;
    align-items: center;    
}
#product-hot-top-right a{
    color: #000;
    margin-right: 0.5rem;
}
#product-hot-top-right span i{
    color: green;
}
#product-hot-top-left::after{
    content: url('../imgs/icon_section1.png');
    position: absolute;
    top: 0;
    left: calc(100% - 4px);
    height: 100%;
}
#product-hot-bottom-left img{
    width: calc(100% + 1rem);
}
.product{
    width: 23%;
    border: #ccc solid 1px;
    margin-bottom: 1.5rem;
}
.product-title{
    text-align: center;
    font-weight: normal;
    padding: 0.5rem;
}
.product-price{
    color: green;
    text-align: center;
    padding-bottom: 0.5rem;
}
.product>div{
    width: 95%;
    margin-top: 0.35rem;
}
.product-img{
   position: relative; 
}
.product-hover{
    position: absolute;
    top: 0;
    /* background-color: green; */
    height: 100%;
}
.product-hover::after{
    content: '';
    position: absolute;
    top: 0;
    background-color: green; 
    height: 100%;
    width: 100%;
    opacity: 0.7;
}
.product-hover p{
    color: #fff;
    text-align: justify;
    font-size: 0.8rem;
    line-height: 1;
}
.product-hover button{
    text-transform: uppercase;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 6px;
    border: 0;
    
}
.product-hover>div{
    width: 85%;
}
/* Index */